.NewArticle .ProseMirror {
  padding: 8px 8px 4px 14px;
  min-height: 180px;
}

.NewArticle .editor {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.NewArticle .ProseMirror p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.NewArticle .ProseMirror h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.NewArticle .ProseMirror a {
  color: #7161ef;
}

.NewArticle .ProseMirror blockquote {
  padding: 0 1rem 0;
  border-left: 0.25rem solid #eee;
}

.NewArticle .title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px;
  top: 1px;
  color: #666;
  border: none;
  background: transparent;
  padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "✕";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}
