.NewArticle .ProseMirror {
  padding: 8px 8px 4px 14px;
  min-height: 180px;
}

.NewArticle .editor {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.NewArticle .ProseMirror p {
  margin-bottom: 1rem;
}

.NewArticle .title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
}
