.Register .title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.Register .form textarea,
.Register .form input,
.Register .form select,
.Register .form label {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .Register .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Register .form button {
    grid-column: 2 / 3;
  }
}
