.Article .title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.Article .title a {
  margin-left: 1rem;
}

.Article p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

@media screen and (min-width: 500px) {
  .Article p {
    font-size: 1rem;
  }
}
