*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
.App {
  padding: 0 1rem 7.5rem;
  max-width: 550px;
  margin: 0 auto;
}

.App header .site-title {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

@media screen and (min-width: 500px) {
  .App header .site-title {
    font-size: 2.5rem;
  }
}

.App nav {
  margin-bottom: 1rem;
}

.App nav a {
  color: #7161ef;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.App .site-footer {
  margin: 7rem 0;
}

.App .site-footer .site-title {
  font-size: 2rem;
}
